* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.2s ease;
}

body {
    font-family: sans-serif;
    background-color: #071115;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}


.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    box-shadow: 0 0 10px #000;
}

.calculator.dark {
    background-color: #071115;
}

.calculator.dark .display {
    color: #f8fafd;
}

.calculator.dark button {
    color: #fff;
}

.calculator.dark input, .calculator.dark input::placeholder {
    color: #fff;
}

.calculator.dark span {
    color: #fff;
    background-color: transparent;
}

.calculator input {
    margin: 0 10px;
    padding-left: 25px;
    width: auto;
    max-width: 270px;
    font-size: 30px;
    overflow-x: scroll;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25%;
    right: 10%;
    text-align: right;
    cursor: pointer;
}

.calculator span {
    position: absolute;
    top: 8%;
    background-color: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.calculator button#clear {
    color: #ca0000;
}

.calculator button#clear:hover {
    background-color: #ca0000;
    color: #fff;
}

.display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

.display::-webkit-scrollbar {
    display: block;
    height: 3px;
}
